<% layout('./layouts/boilerplate') %>

    <div class="container">
        <div class="row">
            <!-- <div class="col-9"> -->
            <div class="mb-3" id="cluster-map"></div>
            <!-- </div> -->
            <!-- <div class="col-3"> -->
            <form action="/campgrounds" method="GET" class="mb-3">
                <div class="form-group mb-3">
                    <!-- <label for="search" class="mb-3 h3">Search by Name or Description</label> -->
                    <input type="text" class="form-control mb-3" id="search" name="search"
                        placeholder="Search by keywords">
                </div>
                <!-- <div class="form-group mb-3">
                    <label for="location">Location (Longitude, Latitude):</label>
                    <input type="text" class="form-control" id="location" name="location"
                        placeholder="-122.4194,37.7749">
                </div>
                <div class="form-group mb-3">
                    <label for="maxDistance">Maximum Distance (km):</label>
                    <input type="number" class="form-control" id="maxDistance" name="maxDistance"
                        placeholder="Enter distance">
                </div> -->
                <button type="submit" class="btn btn-primary mb-3">Search</button>
            </form>
            <!-- </div> -->
        </div>
    </div>

    <div class="container">
        <% if (isSearching) { %>
            <h1>Search Results</h1>
            <% if (campgrounds.length===0) { %>
                <h3>No results found. Try a different search.</h>
                    <% } else { %>
                        <% for (let campground of campgrounds) { %>
                            <div class="card mb-3">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="<%= (campground.images && campground.images.length > 0) ? campground.images[0].url : '/images/default-image.jpg' %>"
                                            class="img-fluid" alt="Campground image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= campground.title %>
                                            </h5>
                                            <p class="card-text">
                                                <%= campground.description %>
                                            </p>
                                            <p class="card-text">
                                                <small class="text-muted">
                                                    <%= campground.location %>
                                                </small>
                                            </p>
                                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View
                                                <%= campground.title %>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <% } %>
                                    <% } else { %>

                                        <h1>All Campgrounds</h1>
                                        <% for( let campground of campgrounds ) { %>
                                            <div class="card mb-3">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <img src="<%= (campground.images && campground.images.length > 0) ? campground.images[0].url : '/images/default-image.jpg' %>"
                                                            class="img-fluid" alt="Campground image">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="card-body">
                                                            <h5 class="card-title">
                                                                <%= campground.title %>
                                                            </h5>
                                                            <p class="card-text">
                                                                <%= campground.description %>
                                                            </p>
                                                            <p class="card-text">
                                                                <small class="text-muted">
                                                                    <%= campground.location %>
                                                                </small>
                                                            </p>
                                                            <a href="/campgrounds/<%= campground._id %>"
                                                                class="btn btn-primary">View <%= campground.title %>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>

                                                <% } %>

    </div>

    <script>
        const mapToken = '<%- process.env.MAPBOX_ACCESS_TOKEN %>';
        const campgrounds = JSON.parse('<%- JSON.stringify(campgrounds) %>');
        // const campgrounds = JSON.parse('{features: <%- JSON.stringify(campgrounds) %>}');
    </script>

    <script src="/javascripts/clusterMap.js"></script>